<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body class="bg-light">
    <div class="vertical-center horizontal-center">
        <p class="text-center font-size-2 fw-bold"><%=message%></p>
    </div>
</body>
</html>